body {
    padding: 0;
    margin: 0;
    background-color: #0B0E11;
}

.top {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: black;
}

.icon {
    display: flex;
    position: relative;
    padding: 0;
    padding-left: 15px;
    top: 0;
    border: 0;
    height: 80px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.div-menu-crypto {
    display: flex;
    justify-content: end;
    padding-right: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.button-menu-crypto {
    display: flex;
    font-size: xx-large;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: gray;
    height: 100%;
    align-items: center;
}

.div-exit-menu-crypto {
    display: flex;
    justify-content: end;
}

.button-menu-exit {
    font-size: 30px;
    padding: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: gray;
}

.content-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    height: 100%;
    width: 400px;
    z-index: 1001;
    background-color: #1e2329;
}

.content-menu.open {
    display: block;
    opacity: 1;
}
